<h1>Pasword Generator</h1>
<div>
  <label for="length-field">Enter Length:</label>
  <input
    (input)="onChangeLength($event)"
    type="number"
    name="pwd"
    id="length-field"
  />
</div>
<div>
  <label for="letters">Use Letters</label>
  <input (change)="onChangeUseLetters()" id="letters" type="checkbox" />
</div>
<div>
  <label for="numbers">Use Numbers</label>
  <input (change)="onChangeUseNumbers()" id="numbers" type="checkbox" />
</div>
<div>
  <label for="symbols">Use Symbols</label>
  <input (change)="onChangeUseSymbols()" id="symbols" type="checkbox" />
</div>

<div>
  <button
    [disabled]="
      !(length && (includeLetters || includeSymbols || includeNumbers))
    "
    (click)="onButtonClick()"
  >
    Generate!
  </button>
</div>
<div>
  <label for="output-field">Your Password</label>
  <input id="output-field" [value]="password" type="text" />
</div>
